../.cursor-server
        ../.idea/
        ../.vscode-server
        ../.vscode/
        ../.windsurf-server
../checkpoints
src/train.log
src/train.log
src/checkpoints
src/checkpoints/hed_epoch_300.pth
eval
GCP_instance
checkpoints
checkpoints_baseline_v1
../.lightning_studio